name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /opt/odoo/src/addons/chefrulo_website
            sudo git pull
            sudo su - odoo -s /bin/bash -c "/opt/odoo/venv/bin/python3 /opt/odoo/src/odoo-bin -c /etc/odoo.conf -d chef-rulo-odoo --stop-after-init -u chefrulo_website"
            sudo systemctl restart odoo
